#navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: brown;
}

section{
    height: 600px;
}

#welcome-section{
    height: 100vh;
}

@media (max-width: 1000px){
    body{
        background-color: aquamarine;
    }
}